<div class="container">
  <div class="row">
    <div class="six columns">
      <h5>Login to Your Account</h5>
      <form class="form-control" action="/user/login" method="post" accept-charset="utf-8">
        <input type="email" name="email" value="" placeholder="Email Address">
        <br />
        <input type="password" name="password" value="" placeholder="Password">
        <br />
        <input class="button-primary" type="submit" value="Login">
      </form>
    </div>
    <div class="six columns">
    <h5>Register to Gain Access</h5>
      <form class="form-control" action="/user/register" method="post" accept-charset="utf-8">
        <input type="email" name="email" value="" placeholder="Email Address">
        <br />
        <input type="password" name="password" value="" placeholder="Password">
        <br />
        <input class="button-primary" type="submit" value="Login">
      </form>
    </div>
  </div>
</div>

