@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700);

$font-stack: 'Open Sans', sans-serif;

body {
  font-family: $font-stack;
}

h1, h2, h3, h4, h5, h6 {
  text-align: center;
}

.form-control {
  text-align: center;
}
